.main_hero
    padding-top: 25px
    &__inner
        @extend %flex
        gap: 14px
        img, picture
            width: 100%
            height: 100%
            border-radius: 10px

    // &-left
    //     width: calc(60% - 7px)
    //     position: relative
    //     z-index: 0
    //     aspect-ratio: 956/448
    //     border-radius: 10px
    //     overflow: hidden
    //     &__bg
    //         position: absolute
    //         top: 0
    //         left: 0
    //         width: 100%
    //         height: 100%
    //         z-index: -1

    // &-right
    //     @extend %flex-col 
    //     gap: 10px
    //     width: calc(40% - 7px)
    //     position: relative
    //     z-index: 0
    //     background-color: #2D68FF
    //     border-radius: 10px
    //     overflow: hidden
    //     padding: 20px 20px 20px 130px
    //     &__title
    //         color: #FFF
    //         font-family: 'Montserrat', sans-serif
    //         font-size: 29px
    //         font-weight: 500

    //     .btn 
    //         font-weight: 400

    //     &__arrow
    //         position: absolute
    //         bottom: 0
    //         right: 0
    //         width: 40%
    //         pointer-events: none

    //     &__product
    //         position: absolute
    //         left: 0
    //         bottom: 0
    //         height: 100%
    //         width: 130px
    //         pointer-events: none

    &-left
        width: calc(67% - 7px)

    &-right
        width: calc(33% - 7px)

    @media screen and ( max-width: 700px )
        &__inner 
            display: block
        &-left
            margin-bottom: 15px
        &-left, 
        &-right
            width: 100%

